*{
    margin: 0px;
}

header {
    background: #0665aaaa;
    padding: 4rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
    gap: .8rem;
    align-items: center;
}

img {
    width: 100px;
    height: 100px;
}

ul li:last-child {
    background: lightcoral;
    padding: .8rem;
    color: black;
    font-weight: bold;
}

.coluna {
    display: flex;
    background: lightgray;
    gap: 1rem;
}

aside, main {
    height: 90vh;
}

aside {
    border: 1px solid;
    flex-basis: 25%;
}

main {
    border: 1px solid;
    flex: 1;
}